chatter-upgrader {
  display: block;
  margin: 0 auto;
  max-width: 40rem;
}

chatter-upgrader .prompt {
  align-items: center;
  background-color: var(--color-green-03);
  border-radius: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2rem 2rem 0;
  padding: 0.5rem;
}

chatter-upgrader .prompt__message {
  color: var(--color-black-09);
  font-size: calc(18rem/16);
  font-weight: bold;
  line-height: calc(40rem/16);
  padding: 0 0.5rem;
}

chatter-upgrader .prompt__buttons {
  display: flex;
}

chatter-upgrader .prompt__buttons > * {
  margin: 0.5rem;
}
